@import "tailwindcss";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #1E5128;
  --color-secondary: #4E944F;
  --color-accent: #FFD54F;
  --color-dark: #191A19;
  --color-light: #f8fcf9;
  --color-background-light: #f8fcf9;
  --color-background-dark: #191A19;

  --font-sans: "Manrope", sans-serif;
  --font-serif: "Manrope", sans-serif;
  --font-display: "Manrope", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-light text-dark font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}